<h3>NODEMAILER from {{title}}</h3>
<form action="/contact/send-email" method="post">
    <label for="">Email</label>
    <input type="email" name="email" id=""><br><br>
    <label for="">Subject</label>
    <input type="text" name="subject" id=""><br><br>
    <label for="">Message</label>
    <textarea type="text" name="message" id=""></textarea><br><br>
    <button type="submit">Submit</button>
</form>